.header{
  width: 100%;
  padding: 2px 0 10px;
  background-color: rgb(165, 42, 42);
}
.global-nav{
  margin-top: 15px;
  text-align: center;
}
.global-nav .nav-item a{
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.wrapper{
  width: 970px;
  margin: 30px auto 40px;
}
.main{
  display: block;
  float: left;
  width: 660px;
}
.menu{
  float: right;
  width: 275px;
}
.footer{
  width: 100%
}
